.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: var(--card);
	color: var(--text-color);
	padding: 15px;
	border-radius: 10px;
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.05);
}

/* // @media screen and (max-width: 820px) {
// 	.header {
// 		display: grid;
// 		grid-template-columns: 1fr 40px;
// 		gap: 10px;

// 		margin: 15px 15px 0;
// 	}
// } */
