.toDoContainer {
  position: relative;
  transition: height 0.3s;
}

.toDoItem {
  display: grid;
  grid-template-columns: 30px 1fr auto;
  align-items: center;
  padding: 10px;
  margin: 10px 0;

  &__content {}

  &__title {
    margin-left: 10px;
    cursor: pointer;

    &_complete {
      text-decoration: line-through;
    }
  }

  &__buttons {
    button:first-child {
      margin-right: 5px;
    }
    button:last-child {
      margin-left: 5px;
    }
  }

  &__description {
    padding: 15px;
    transition: all 0.2s;

    p {
      margin: 0;
    }

    &_opened {
      height: auto;
      margin-top: 10px;
    }

    &_closed {
      height: 0;
      padding: 0;
      opacity: 0;
    }
  }
}
